<%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <div>
            <% if(products.length > 0){ %> 
                <ul class="cart__item-list">
                    <% products.forEach(p => { %> 
                        <li class="cart__item">
                            <h2><%= p.title %></h2>
                            <p>Quantity: <%= p.cartItem.qantity %></p>
                            <form action="/cart-delete-item" method="post">
                                <input type="hidden" name="productId" value="<%= p.id %>">
                                <button class="btn" type="submit">Delete</button>
                            </form>
                        </li>
                    <% }) %>
                </ul>
                <br>
                <div class="centered">
                    <form action="/create-order" method="POST">
                        <button type="submit" class="btn">Order Now</button>
                    </form>
                </div>
            <% } else { %>
                <h1>No Products in Cart</h1>
            <% } %>
        </div>
    </main>
<%- include('../partials/end') %>